includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
    phpVersion:
        min: 80200
        max: 80499
    scanFiles:
        - mock/maho-phpstan-plugin/Mage.php
        - mock/maho-phpstan-plugin/DataObject.php
    paths:
        - src
    level: 10
